@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scrollbar-width: none;
    background: radial-gradient(circle at top left, #10151f, #0a0c12 60%, #050509);
    height: 100%;
}